body {
  margin: 34px 138px 70px 138px;
}


.Header-board  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.Buttons {
  margin-left: 200px;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.Button:hover {
  color: green;
}

form {
  display: flex;
  flex: 3;
  justify-content: flex-end;
}

label {
  display: flex;
  justify-content: center;
}

.Slider-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Slider h1 {
  width: 158px;
  height: 90px;
  font-size: 30px;
  color: #ff801a;
  font-family: Sans-serif;
}

.Board {
  height: 580px;
}

.Time-form  {
  background-color: gray;

}

.Days-section  {
  color: #adbb0c;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Days-week  {
  border: 1px solid black;
}

.Item {
  width: 126px;
  height: 87px;
  color: gray;
  display: flex;
  flex-wrap: wrap;
}

/*
.Item p {
  display: flex;
  justify-content: center;
}

.Item p1 {
  display: flex;
  justify-content: center;
} */

.Footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Foot {
  width: 305px;
}








