body {
  margin: 34px 138px 616px 138px;
}


.Header-board  {
  display: flex;
}

.Header-board ul {
  display: flex;
  justify-content: space-around;
  color: orange;
  flex-grow: 3;

}

ul {
  list-style:none;
}

label {
  display: flex;
  justify-content: center;
}

.Slider-container {
  display: flex;
  justify-content: space-between;
}

.Slider h1 {
  width: 158px;
  height: 90px;
  font-size: 30px;
  color: #ff801a;
  font-family: Sans-serif;
}

.Board {
  height: 580px;
  display: flex;
}

.Time-form  {
  background-color: gray;
}

.Days-section  {
  color: #adbb0c;
  display: flex;
  justify-content: space-between;

}


/* .Days-section h1 {
  display: flex;
  flex-direction: row;
  width: 181px;
  height: 19px;
  color: #adbb0c;

} */


