body {
  margin: 34px 138px 616px 138px;
}

/* div {
  box-sizing: border-box;
} */

.Header-board  {
  display: flex;
}

.Header-board ul {
  display: flex;
  justify-content: space-around;
  color: orange;
  flex-grow: 3;

}

ul {
  list-style:none;
}

label {
  display: flex;
  justify-content: center;
}

.Slider-container {
  display: flex;
  justify-content: space-between;
}

.Slider h1 {
  width: 158px;
  height: 90px;
  font-size: 30px;
  color: #ff801a;
  font-family: Sans-serif;
}

.Board {
  height: 580px;
}

.Time-form  {
  background-color: gray;

}

.Days-section  {
  color: #adbb0c;
  display: flex;
  justify-content: space-between;
}

.Days-week  {
  width: 126px;
  height: 87px;
}

.Item {
  width: 126px;
  height: 87px;
  color: gray;
}

.Item p {
  display: flex;
  justify-content: center;
}

.Item p1 {
  display: flex;
  justify-content: center;
}

.Footer {
  display: flex;

}






